.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.myButton {
  background: none;
  border: none;
  color: #F0F;
}

.myButton:hover {
  opacity: 90%;
  transform: scale(1.1)
}

.bi {
  font-size: 1.4em;
}

.list-group{
  list-style: none;
  border: none;
}

.list-group-item {
  background: inherit;
  border: none;
}